# Ignore the git and zip files we use
.*
*.zip

# Ignore program and OS files
.vscode
*.DS_Store
*desktop.ini

# If you need to remove .DS_Store
# find . -name .DS_Store -print0 | xargs -0 git rm -f --ignore-unmatch

# Ignore packages and re-creatable items
node_modules/
__pycache__/
*.py[cod]

# -- Items below may be adjusted ----------------------------------------------


# Comment out/remove these lines if you want to save your default settings across projects - RECOMMENDED
defaults/*
samconfigs/*

# Comment out/remove these lines if you want your configuration imports and script log files in the repo - NOT RECOMMENDED
# Why? - You can use imports for temporary storage as you work on converting to proper configurations. 
#        Logs can easily conflict and provide no usable info across developers.
local-imports
scripts/logs

# Comment out/remove these lines if you are storing templates in this repo - NOT RECOMMENDED
# Why? - You should really apply versioning to your templates so deploys are consistent.
#        Check out the Atlantis Template Repository for developing and releasing templates to a versioned S3 bucket.
local-templates/**/*.yml
local-templates/**/*.yaml
local-templates/**/*.json


# -- Items above may be adjusted ----------------------------------------------

# Leave this lines
!sample-*
!sample.*
!README.md
!.gitignore
